<div class="container">
	<section class="section">
		<h1 class="title">Manage Access</h1>
		<h2 class="subtitle">Configure access for translators and collaborators</h2>

		<table class="table">
			<thead>
				<th>
					<td>Email Address</td>
					<td>Friendly Name</td>
					<td>Role</td>
					<td>Last Logged In</td>
					<td>Actions</td>
				</th>
			</thead>
			<tbody>
				<tr>

				</tr>
			</tbody>
		</table>
	</section>
</div>