@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options

@inject SharedViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> Options

@{
	var returnUrl = string.Concat("~", Context.Request.Path.Value ?? "/", Context.Request.QueryString.ToString());
	var cultureItems = Options.Value!.SupportedCultures!
		.OrderBy(c => c.DisplayName)
		.ToList();
	var requestCulture = Context.Features.Get<IRequestCultureFeature>()!.RequestCulture.Culture;

	string SentenceCase(string source)
	{
		if (string.IsNullOrEmpty(source))
			return source;
		char[] letters = source.ToCharArray();
		letters[0] = char.ToUpper(letters[0]);
		return new string(letters);
	}
}

<div class="navbar-item has-dropdown is-hoverable">
	<span class="navbar-link icon-text">
		Language <span class="icon ml-1"><i class="bi bi-translate"></i></span>
	</span>
	<div class="navbar-dropdown is-right">
		@foreach (var lang in cultureItems)
		{
			<a class="navbar-item" asp-controller="Home" asp-action="SetLanguage" asp-route-returnUrl="@returnUrl" asp-route-culture="@lang.Name">
				@if(lang.Name == requestCulture.Name)
				{
					<b>@SentenceCase(lang.NativeName)</b>
				}else{
					@SentenceCase(lang.NativeName)
				}
			</a>
		}
	</div>
</div>