@model ErrorViewModel
@inject SharedViewLocalizer Localizer

@{
	ViewData["Title"] = Localizer["Error"];
}

<h1>@Localizer["Error"]</h1>
<h2>@Localizer["Error_Sub"]</h2>

@if (Model.ErrorCode is not null)
{
	<h2>HTTP @Model.ErrorCode</h2>
}

@if (Model.ShowRequestId)
{
	<p>
		<strong>RequestID: </strong> <code>@Model.RequestId</code>
	</p>
}