@inject SharedViewLocalizer Localizer

@{
	ViewData["Title"] = "Home";
}

<div class="container">
	<section class="section">
		<h1 class="title">@Localizer["Antro Radikoj"]</h1>
		<h2 class="subtitle">@Localizer["The global anthropology syllabus project"]</h2>
	</section>
	<section class="section">
		<div class="box">
			<h1 class="title is-4">@Localizer["Our most recent announcement"]</h1>
			<h2 class="subtitle is-5">(TODO - link to most recent article)</h2>
		</div>
	</section>
	<section class="section">
		<p>@Localizer["This project has received support from the Wenner-Gren Foundation"]</p>
	</section>
</div>