@inject SharedViewLocalizer Localizer

@{
	ViewData["Title"] = "Home";
}

<div class="container">
	<section class="section">
		<h1 class="title">@Localizer["Antro Radikoj"]</h1>
		<h2 class="subtitle">@Localizer["The global anthropology syllabus project"]</h2>
	</section>
	<section class="section">
		<div class="box">
			<h1 class="title is-4">Most recent article:</h1>
			<h2 class="subtitle is-5">Link to most recent article and synopsis</h2>
		</div>
	</section>
	<section class="section">
		<p>Include more information about the project, team, sponsors, ...</p>
		<p>Depending on type of content may want to show a columned image/text pairing (this is fairly common on landing pages)</p>
	</section>
</div>