@model GaspApp.Models.HomeViewModels.MapViewModel

<div class="container" id="map-container">
	<div id="map" class="center"></div>
</div>

<script src="https://cdn.plot.ly/plotly-2.4.2.min.js"></script>

<script>
	var data = [{
		type: 'choropleth',
		/*locations: @Model.LocationCodes,
		text: @Model.LocationNames,
		z: @Model.Values,*/
		locations: ['USA', 'GBR', 'JPN', 'IRN', 'ETH', 'ECU'],
		text: ['United States', 'Great Britain', 'Japan', 'Iran', 'Ethiopia', 'Ecuador'],
		z: [10, 15, 13, 4, 16, 8],
		autocolorscale: true,
		zmin: 0,
		showscale: false,
	}];

	var layout = {
		geo: {
			showframe: false,
			showcoastlines: true,
			showcountries: true,
			projection: {
				type: 'natural earth2',
				scale: 1,
			},
		},
		margin: {
			b: 0,
			l: 0,
			r: 0,
			t: 0,
		},
		autosize: true,
		height: 650,
	};

	Plotly.newPlot("map", data, layout, {showLink: false, displayModeBar: false, responsive: true});
</script>