@model GaspApp.Models.ArticlesViewModels.ArticlesArticleViewModel
@inject SharedViewLocalizer Localizer
@using Humanizer

@{
	ViewData["Title"] = Localizer["Article"];
}

<section class="hero is-link">
	<div class="hero-body">
		<h1 class="title">@Model!.Content.Title</h1>
		<h2 class="subtitle">@Localizer["Published"] @Model.Article.PublishedDate.Humanize()</h2>
	</div>
</section>
<div class="container">
	<section class="section">
		<div class="content">
			@GaspApp.Services.MarkdownService.CreateHtmlString(Model.Content.Body)
		</div>
	</section>
</div>