@model GaspApp.Models.ArticlesViewModels.ArticlesArticleViewModel
@inject SharedViewLocalizer Localizer

@{
	ViewData["Title"] = Localizer["Article"];
}

<section class="hero is-link">
	<div class="hero-body">
		<h1 class="title">@Model.Content.Title</h1>
		<h2 class="subtitle">@Model.Article.Author.DisplayName, @Model.Article.PublishedDate</h2>
	</div>
</section>
<div class="container">
	<section class="section">
		<div class="content">
			@Model.Content.Body
		</div>
	</section>
</div>