@using Microsoft.AspNetCore.Localization
@model GaspApp.Models.ArticlesViewModels.ArticlesIndexViewModel
@inject SharedViewLocalizer Localizer

@{
	ViewData["Title"] = Localizer["More"];

	var cultureName = Context.Features.Get<IRequestCultureFeature>()!.RequestCulture.Culture.Name;
}

<div class="container">
	<section class="section">
		<h1 class="title">@Localizer["More"]</h1>
		<h1 class="subtitle">@Localizer["Articles and announcements from the team"]</h1>
		<hr />
		@foreach (var group in Model!.Articles.Select(x => new { MonthYear = x.PublishedDate.ToString("MMMM yyyy"), Item = x }).GroupBy(x => x.MonthYear))
		{
			<h2 class="has-text-weight-bold is-size-4">@group.Key</h2>
			@foreach (var item in group)
			{
				<p>
					<a href="~/Articles/@item.Item.Slug">
						@(item.Item.Contents.FirstOrDefault(x => x.Culture == cultureName)?.Title 
					?? item.Item.Contents.First().Title)
					</a>
				</p>
			}
			<br />
		}
	</section>
</div>