@using Newtonsoft.Json
@model GaspApp.Models.ParticipateViewModels.MapViewModel
@inject SharedViewLocalizer Localizer

@{
	ViewData["Title"] = Localizer["Participation"];
	var modelJson = JsonConvert.SerializeObject(Model!);
}

<div class="container" id="map-container">
	<p class="has-text-centered">We have received @Model.TotalResponses total responses from @Model.TotalCountries different countries.</p>
	<div id="map" class="center"></div>
</div>

<script src="https://cdn.plot.ly/plotly-2.4.2.min.js"></script>

<script>
	const items = @Html.Raw(modelJson);

	var data = [{
		type: 'choropleth',
		/*text: ['United States', 'Great Britain', 'Japan', 'Iran', 'Ethiopia', 'Ecuador'],*/
		locations: items.LocationCodes,
		z: items.Values,
		colorscale: "Earth",
		zmin: 0,
		showscale: false,
	}];

	var layout = {
		geo: {
			showframe: false,
			showcoastlines: true,
			showcountries: true,
			projection: {
				type: 'natural earth2',
				scale: 1,
				rotation: {
					lon: 60
				}
			},
		},
		margin: {
			b: 0,
			l: 0,
			r: 0,
			t: 0,
		},
		autosize: true,
		height: 650,
	};

	Plotly.newPlot("map", data, layout, {showLink: false, displayModeBar: false, responsive: false});
</script>